body{background-color: blue ;font-family: times ;size: 14pt}
h1{color: white ;font-style: italic;size: 24pt }
hr{color: white}
ul{color: yellow}
ol{color:pink}
h3{color: green font-style:italic;size: 18pt}
a{color: orange}